.form-controller {
    color: #333;
    display: block;
    font-weight: normal;
    font-size: 15px;
    width: 100%;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #d8d8d8;
    margin-top: 10px;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}


